.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

body {
  background: url('First Screen-image@3x.png');
  background-size: cover;
}

section, img {
  position: absolute;
  top: 30px;
  left: 60px;
}

.LoginButton {
  position: absolute;
  top: 400px;
  left: 70px;
}

.JoinNow {
  position: absolute;
  top: 450px;
  left: 75px;
}

h3 {
  font-size: 21px;
  color: white;
  position: absolute;
  top: 250px;
  left: 40px;
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
